<div class="hero-unit heatmap-view text-center">
    <form class="form-inline">
        <select class="input-xlarge" ng-model="data.url" ng-options="url for url in availableUrls" ng-change="showHeatMap(data)"/>
        <input type="checkbox" ng-model="data.type" ng-change="showHeatMap(data)"><label class="checkbox"> Click heatmap</label>
        <input type="checkbox" ng-model="data.centeredDesign" ng-change="showHeatMap(data)"><label class="checkbox"> Centered design</label>
        <button class="btn" ng-click="showHeatMap(data)">Show</button>
    </form>

    <div class="heatmap-wrapper">
        <iframe id="iframe" class="heatmap" src="{{urlIframe}}"></iframe>
        <div class="heatmap" id="heatmap"></div>
    </div>
</div>